extends layouts/main

block carousel
  div.splash-home(id="showcase")
    div(id="leftshowcase")
      h1 I am Jim Fowler,
      h2 I am on the job market this year.<br/>Here is my <a href="/cv">curriculum vitae</a>.

block content
  .row.front-page
    .col-lg-4
      h4 <a href="/research">Research</a>
      p Find a list of my <a href="/research/papers/">research papers</a>.
      p My <a href="/research">research</a> combines geometric group theory and surgery theory.
    .col-lg-4
      h4 <a href="/teaching">Teaching</a>
      p See my <a href="/teaching/statement">teaching statement</a>, download <a href="/teaching">course materials</a> from past and present courses, or watch <a href="/teaching/videos">some videos</a>.
    .col-lg-4
      h4 <a href='#' class="email">Email me</a>
      p The best way to contact me is via email: write to me at <a href='#' class="email"><span class="email">my last name at math.osu.edu</span></a>.
      p You can also call or text me at <span class="phone">(773) xxx-5659</span>.
  hr
  .row.front-page
    .col-lg-4
      - var post = poet.helpers.getPosts(0,1)[0];
      h4 <a href="#{post.url}">#{post.title}</a>
      !=post.preview
    .col-lg-4
      h4 <a href="/teaching/2014/math2568/">Math 2568: Linear algebra</a>
      p If you are a student of mine taking Math 2568 this term, you might be looking for the course homepage.
    .col-lg-4
      h4 Office hours
      include office-hours

  hr
  .row.front-page
    - var link = '/teaching/2014/calculus-two/';
    .col-lg-5
      a.thumbnail(href=link)
        img(src="/public/images/logos/calculus-two.png")
    .col-lg-7
      h3 <a href="#{link}">Calculus Two: Sequences and Series</a>
      p Sequences and Series will challenge us to think very carefully about "infinity."  What does it mean to add up an unending list of numbers? How can an infinite task result in a finite answer?  These questions lead us to some very deep concepts—but also to some powerful computational tools which are used not only in math but in many quantitative disciplines.
      p This course is a first introduction to sequences, infinite series, convergence tests, and Taylor series.  It is suitable for someone who has seen just a bit of calculus before.
      p
        a.btn.btn-primary.btn-lg(href="https://www.coursera.org/course/sequence") Enroll in my Coursera Course
  hr
  .row.front-page
    - var link = '/teaching/2013/calculus-one/';
    .col-lg-9
      h3 <a href="#{link}">Calculus One</a>
      p Calculus is about the very large, the very small, and how things change.  The surprise is that something seemingly so abstract ends up explaining the real world.  Calculus plays a starring role in the biological, physical, and social sciences.  This online course is a first and friendly introduction to calculus, suitable for someone who has never seen the subject before, or for someone who has seen some calculus but wants to review the concepts and practice applying those concepts to solve problems.
    .col-lg-3
      a.thumbnail(href=link)
        img(src="/public/images/logos/calculus-one.png")


block broken
  .carousel.slide(id="carousel-example-generic")
    ol.carousel-indicators
      li.active(data-target="#carousel-example-generic",data-slide-to="0")
      li(data-target="#carousel-example-generic",data-slide-to="1")
      li(data-target="#carousel-example-generic",data-slide-to="2")
    .carousel-inner
      .item.active
        img(src="/public/images/banners/sarah-and-jim.jpg")
        .carousel-caption
          p Sarah and Jim
      .item
        img(src="/public/images/banners/teaching.jpg")
        .carousel-caption
          p Teaching
      .item
        img(src="/public/images/banners/software.jpg")
        .carousel-caption
          p Software

    a.left.carousel-control(href="#carousel-example-generic",data-slide="prev")
      span.icon-prev
    a.right.carousel-control(href="#carousel-example-generic",data-slide="next")
      span.icon-next
